::-webkit-scrollbar {
    height: 5px;
    width: 5px;  /* Remove scrollbar space */
    position: absolute;
}
::-webkit-scrollbar-thumb {
    background: #1890ff;
}
::-webkit-scrollbar-thumb:hover {
    background: #ddd;
}